google-cloud-vision
pdf2image
langgraph
requests
gradio
transformers
accelerate

#Normal
# torch

#CUDA
torch --index-url https://download.pytorch.org/whl/cu118

# For LoRA training
# datasets
